<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value="02.02.02.56"/>
  </header>
  <plate>
    <metadata key="index" value="1"/>
    <metadata key="extruder_type" value="0"/>
    <metadata key="nozzle_volume_type" value="0"/>
    <metadata key="printer_model_id" value="N1"/>
    <metadata key="nozzle_diameters" value="0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="2515"/>
    <metadata key="weight" value="16.40"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="false"/>
    <metadata key="label_object_enabled" value="false"/>
    <metadata key="filament_maps" value="1 1 1 1"/>
    <metadata key="limit_filament_maps" value="0 0 0 0"/>
    <object identify_id="147" name="icon" skipped="false" />
    <filament id="1" tray_info_idx="GFG99" type="PETG" color="#000000" used_m="5.37" used_g="16.40" />
    <warning msg="bed_temperature_too_high_than_filament" level="3" error_code ="1000C001"  />
    <layer_filament_lists>
      <layer_filament_list filament_list="0" layer_ranges="0 49" />
    </layer_filament_lists>
  </plate>
</config>
