{
    "filament_extruder_variant": [
        "Direct Drive Standard"
    ],
    "filament_prime_volume": [
        "45"
    ],
    "filament_settings_id": [
        "Bambu PLA Basic @BBL A1M(Upside_Down_AMS_Badges.3mf)"
    ],
    "from": "project",
    "inherits": "Bambu PLA Basic @BBL A1M",
    "name": "Bambu PLA Basic @BBL A1M(Upside_Down_AMS_Badges.3mf)",
    "version": "1.10.2.73"
}
