<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value="02.02.02.56"/>
  </header>
  <plate>
    <metadata key="index" value="1"/>
    <metadata key="extruder_type" value="0"/>
    <metadata key="nozzle_volume_type" value="0"/>
    <metadata key="printer_model_id" value="N1"/>
    <metadata key="nozzle_diameters" value="0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="2352"/>
    <metadata key="weight" value="10.97"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="false"/>
    <metadata key="label_object_enabled" value="true"/>
    <metadata key="filament_maps" value="1 1 1"/>
    <metadata key="limit_filament_maps" value="0 0 0"/>
    <object identify_id="328" name="UD_Body1" skipped="false" />
    <object identify_id="345" name="UD_Body2" skipped="false" />
    <object identify_id="362" name="UD_Body3" skipped="false" />
    <object identify_id="379" name="UD_Body4" skipped="false" />
    <filament id="1" tray_info_idx="GFL05" type="PLA" color="#174B35" used_m="2.85" used_g="8.38" />
    <filament id="3" tray_info_idx="GFL99" type="PLA" color="#FFFFFF" used_m="0.87" used_g="2.60" />
    <warning msg="bed_temperature_too_high_than_filament" level="3" error_code ="1000C001"  />
    <warning msg="not_support_traditional_timelapse" level="2" error_code ="10018003"  />
    <warning msg="not_support_traditional_timelapse" level="3" error_code ="1000C003"  />
    <layer_filament_lists>
      <layer_filament_list filament_list="0" layer_ranges="5 29" />
      <layer_filament_list filament_list="0 2" layer_ranges="0 4" />
    </layer_filament_lists>
  </plate>
</config>
